/* general */
body {
background:#cff;
padding:0;
margin:0;
color:#58595B;
font-family:helvetica, arial;
font-size:12px;
}

a {
color:#1D81C1;
}

#header {

height:150px;
margin-bottom:20px;
}


#email-signup {
background:#fff;
height:60px;
width:960px;
margin: 0 auto;
padding-top:20px;
text-align:center;

}

#email-signup .email-input{

width: 400px;

}

#email-signup .subscribe {

}


#nav {

height:100px;
width:960px;
margin: 10px auto;
padding:10px;
background:transparent;

}

#user-nav {

height:20px;
padding:10px;
background:#fff;
float:right;
text-decoration:none;

}

.greeting {

margin:0 5px;
}

.nav-link {
text-decoration:none;
margin: 0 5px;
}

#container {

width:960px;
margin: 0 auto;

}

#content {
margin-bottom:20px;
}

#content-left {
width:170px;
float:left;
background:#fff;
padding:20px;
}

#content-left #menu ul {
margin:0;
padding:0;
list-style:none;
text-decoration:none;
}

#content-left #menu ul a {
text-decoration:none;
font-size:18px;
font-weight:bold;
}

#content-right {
width:700px;
float:right;
background:#fff;
padding:20px;
}

.divider {
height:20px;
clear:both;
}

#footer {

clear:both;
width:920px;
height:60px;
margin:20px auto 0;
background:#fff;
padding:20px ;
}

.round {
border-bottom-left-radius: 10px 10px;
border-bottom-right-radius: 10px 10px;
border-top-left-radius: 10px 10px;
border-top-right-radius: 10px 10px;
-moz-border-radius: 10px;

}

.bottom-round {
border-bottom-left-radius: 10px 10px;
border-bottom-right-radius: 10px 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
}

.top-round {
border-top-left-radius: 10px 10px;
border-top-right-radius: 10px 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
}


/*************************** deal page *********************************/


#deal-top {

margin-bottom:20px;
height:370px;

}



#deal-image {

float:left;
width:450px;
height:350px;
}

#deal-details {
width:230px;
float:left;
margin-left:20px;
}


#deal-title {

font-size:30px;
font-weight:bold;
font-family: helvetica, arial;

}

#deal-description {
font-size:16px;
margin:10px 0;
}


#deal-price {

color:#9EC43C;
font-size:24px;
margin:20px 0;
}
#hkd {
vertical-align:top;
}
#deal-price-number {
font-size:72px;
vertical-align:top;
line-height:0.8em;
}

#buy-button {
margin:20px auto;
text-align:center;
}
.button.rounded {

color:white;
text-decoration:none;
font-size:26px;
font-family:rockwell;

}

a.button.rounded {
width:200px;
height:30px;

background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#318BC6), color-stop(0.47, #1F7AB5), color-stop(0.5, #2181C0), to(#72B7DF));
border-bottom-left-radius: 2em 2em;
border-bottom-right-radius: 2em 2em;
border-top-left-radius: 2em 2em;
border-top-right-radius: 2em 2em;
-moz-border-radius: 2em;
background:#fc9c12;
/*background:#1D81C1;*/
padding: 10px 0;
padding-left:40px;
padding-right:40px;
margin:2px;
}

#deal-value-info {

margin:20px 0;
}

#deal-value, #deal-discount, #deal-savings{
width:70px;
height:40px;
background:#faf5cb;
margin:2px;
float:left;
color:#9EC43C;
text-align:center;
font-size:18px;
padding:10px 0;
}

.deal-value-label {
color:#58595B;
font-size:12px;
}



#deal-timer {
float:left;
}

#deal-fine-print {
margin:20px 0;
float:left;
clear:both;
}

#deal-fine-print-label {

font-size:18px;
font-family:rockwell;
margin:5px 0;
}


#deal-summary {
float:left;
clear:both;
margin:20px 0;
}

#deal-company-info {
width:400px;
float: left;
clear:both;
}

#deal-company-info-label {

font-size:18px;
font-family:rockwell;
margin:5px 0;
}





