/* general */
body {
background:#cff;
padding:0;
margin:0;
}

#header {

height:150px;

}


#email-signup {
background:#fff;
height:60px;
width:920px;
margin: 0 auto;
padding-top:20px;
text-align:center;

}

#email-signup .email-input{

width: 400px;

}

#email-signup .subscribe {

}


#nav {

height:60px;
width:920px;
margin: 0 auto;
background:#fff;
}

#user-nav {


float:right;


}

#container {

width:960px;
margin: 0 auto;

}

#content-left {
width:220px;
float:left;
background:#fff;
}

#content-left #menu ul {
margin:0;
padding:0;
list-style:none;

}


#content-right {
width:700px;
float:right;
background:#fff;
}

#footer {

clear:both;
width:920px;
margin:0 auto;

}


/* deal page */

.deal-info {
width:400px;
float:left;
margin:20px;
}

#deal-image {

float:left;
width:500px;
height:400px;
}

#deal-details {
width:200px;
float:right;

}

.button.rounded {

color:white;
text-decoration:none;
font-size:26px;
font-family:rockwell;

}

a.button.rounded {
width:200px;
height:30px;

background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#318BC6), color-stop(0.47, #1F7AB5), color-stop(0.5, #2181C0), to(#72B7DF));
border-bottom-left-radius: 2em 2em;
border-bottom-right-radius: 2em 2em;
border-top-left-radius: 2em 2em;
border-top-right-radius: 2em 2em;
-moz-border-radius: 2em;
background:#1D81C1;
padding: 10px 0;
padding-left:40px;
padding-right:40px;
margin:2px;
}

#deal-timer {
float:left;
}

#deal-fine-print {

float:left;
clear:both;
}

#deal-summary {
float:left;
clear:both;
}

#deal-company-info {
width:400px;
float: left;
clear:both;
}





