
#countdown_dashboard {
	height: 110px;
}

.dash {
	width: 110px;
	height: 114px;
	background: transparent url('../images/timer/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 55pt;

	float: left;
	width: 55px;
	text-align: center;
	font-family: helvetica;
	color: #555;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dash-left-to-buy {

float:left;
margin-left:30px;
font-size:24px;
margin-top:30px;
font-family: rockwell;
}

#year, #month, #day, #hour {
display:none;
}