

<%= form_for :email, @email, :url => {:controller => "/emails", :action => "create" } do |f| %>

	<span class = "field">
		
	Enter your email to get your daily deal for Hong Kong: 

		<%= f.text_field :email, :class => "email-input" %>


	</span>

	<span class = "action subscribe">


		<%=f.submit "Subscribe" %>

	</span>
<% end %>
 
