<div id = "menu">
<ul>

	<li><%= link_to t(:featured_deal), root_path %></li> 
	<li><%= link_to t(:recent_deals), "/past_deals" %></li>
	<li><%= link_to t(:how_it_works), "/how-it-works" %></li>

</ul>
</div>
