<div id = "menu">
<ul>

	<li><%= link_to "Featured Deal", root_path %></li> 
	<li><%= link_to "Past Deals", "/past_deals" %></li>
	<li><%= link_to "How it works", "/how-it-works" %></li>

</ul>
</div>
